<?xml version="1.0"?>
<model>
  <name>SO101</name>
  <version>1.0</version>
  <sdf version="1.9">so101_new_calib.urdf</sdf>

  <author>
    <name>Tulasi Polisetty</name>
    <email>tulasi.polisetty@canonical.com</email>
  </author>

  <description>
    SO101 Robotic Arm for SnapTwin Digital Twin project.
  </description>
</model>
